<mat-toolbar color="primary" >
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Heroes App</span>
  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container  >
  <mat-sidenav mode="side" opened #sidenav>
    Hellow
    <mat-nav-list>

      <button mat-button class="menu-button"
      *ngFor="let item of sidebarItems"
      [routerLink]="item.url"
      (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon> {{item.icon }} </mat-icon>
        {{item.label}}
      </button>


    </mat-nav-list>
    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="title-content text-3xl"> {{ titleSeccion }} </div>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

