mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #a280dc;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

/* .mat-mdc-button:not(:disabled) {
  color: var(--mdc-text-button-label-text-color, inherit);
} */

mat-sidenav .mat-button {
  color: white;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
  }

.mat-mdc-focus-indicator{
  background-color: transparent !important;
}

.menu-button.active {
  background-color: #fff; /* Aplica el estilo de resalte deseado */
  color: #000; /* Cambia el color de texto para que sea legible */
}


.content {
  height: calc(100% - 98px);
  overflow-y: auto;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 10px;
  background: #f0eef4;

}
mat-sidenav-container {
  height: calc(100vh - 65px);
}

.title-content{
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px
}

mat-sidenav-container {
  height: calc(100% - 68px);
  overflow: hidden;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

}

mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 2px;
  font-weight: normal;
}

.designation {
  visibility: none;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.838);
}
