<mat-toolbar color="primary" >
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Heroes App</span>
  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container  >
  <mat-sidenav mode="side" opened #sidenav> ...
    <mat-nav-list>

      <mat-list-item class="text-white"
      *ngFor="let item of sidebarItems"
      [routerLink]="item.url"
      (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon> {{item.icon }} </mat-icon>
        {{item.label}}
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="title-content text-3xl"> {{ titleSeccion }} </div>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

